body {
  background-color: #1d506d;
}

nav a:hover {
  cursor: pointer;
}

main div.d-flex {
  min-height: 80vh;
}

main div.container #caixa {
  width: 100%;
  border-radius: 5px;
  padding: 2rem;
}

main div.container #caixa input[type=text] {
  width: 90%;
  border: none;
  outline: none;
}

main div.container #caixa .titulo,
main div.container #caixa .titulo:focus {
  
  height: 3rem;
  font-size: 2rem;
  
}

main div.container #caixa .titulo::placeholder,
main div.container #caixa .checkboxTexto::placeholder {
  color: gray;
}


